.InvestMain {
  width: 100%;
  height: 40vh;
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url('../../../static/images/investMain.jpg') center/cover fixed no-repeat;
  display: grid;
  align-items: center;
  justify-items: center;
}

.InvestMain h1 {
  color: #ffffff;
  font-size: 2rem;
}