.PlantMain {
  width: 100%;
  height: 40vh;
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url('https://cdn.pixabay.com/photo/2018/05/04/10/30/team-3373638_1280.jpg') center/cover fixed no-repeat;
  display: grid;
  align-items: center;
  justify-items: center;
}

.PlantMain h1 {
  color: #ffffff;
  font-size: 2rem;
}