.IntroMain {
    width:100%;
    height:40vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url('https://cdn.pixabay.com/photo/2015/07/28/20/55/tools-864983_1280.jpg') center/cover fixed no-repeat;
    display:grid;
    align-items:center;
    justify-items: center;
}

.IntroMain h1 {
    color:#ffffff;
    font-size: 2rem;
}